.formulario {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    text-align: center;
    margin-top: 1%;
}

.formulario input {
    margin: 4px;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid blue;
}