.formulario {
  margin: 30px auto;
  text-align: center;
}

.formulario input {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.formulario button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1e3a56;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}