.grid-destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.texto {
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;      /* sirve para el texto dentro de p, aunque flex ya lo centra */
}

.texto p {
    font-size: 30px;
    margin: 0;
}